@using Asteroids.Components.Sprites
@using Asteroids.Shared.GameEntities
@inject IToastService ToastService
<div class="play-area" tabindex="0" @onkeydown="@HandleKeyDown" @onkeyup="@HandleKeyUp">
    @foreach (var ship in State.Ships)
    {
        <ShipComponent XCoordinate="@ship.XCoordinate" YCoordinate="@ship.YCoordinate" Rotation="@ship.Rotation" />
    }

    @foreach (var asteroid in State.Asteroids)
    {
        <AsteroidComponent XCoordinate="@asteroid.XCoordinate" YCoordinate="@asteroid.YCoordinate"
            Rotation="@asteroid.Rotation" Size="@asteroid.Size" />
    }
</div>

<style>
    .play-area {
        position: relative;
        width: 100%;
        height: 600px;
        background-color: #000;
    }

    .play-area:focus {
        border-color: #fa0202;
    }
</style>

@code {
    [Parameter]
    public LobbyState State { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("Initialized");
        Console.WriteLine($"The number of ships is {State.Ships.Count}");
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (string.Equals(e.Key, "w", StringComparison.OrdinalIgnoreCase))
        {
            // Logic for when the "W" key is pressed
            ToastService.ShowSuccess("W Key Pressed");

            // Implement your movement or action logic here
        }
    }

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if (string.Equals(e.Key, "w", StringComparison.OrdinalIgnoreCase))
        {
            // Logic for when the "W" key is released
            ToastService.ShowSuccess("W Key Released");

            // Implement your movement or action logic here
        }
    }
}