@using Asteroids.Components.Sprites
@using Asteroids.Shared.GameEntities

<div class="play-area">
    @foreach (var ship in State.Ships)
    {
        <ShipComponent XCoordinate="@ship.XCoordinate" YCoordinate="@ship.YCoordinate" Rotation="@ship.Rotation" />
    }

    @foreach (var asteroid in State.Asteroids)
    {
        <AsteroidComponent XCoordinate="@asteroid.XCoordinate" YCoordinate="@asteroid.YCoordinate"
            Rotation="@asteroid.Rotation" Size="@asteroid.Size" />
    }
</div>

<style>
    .play-area {
        position: relative;
        width: 100%;
        height: 600px;
        background-color: #000;
    }
</style>

@code {
    [Parameter]
    public LobbyState State { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("Initialized");
        Console.WriteLine($"The number of ships is {State.Ships.Count}");
    }
}